<p id='notice'><% notice %></p>
<br>
<div class="container">
<h2>Races</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @races.each do |race| %>
        <tr>
          <td><%= link_to race.race, race_path(:id => race.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>